.slideshow {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    flex: none;
    width: 20%;
    scroll-snap-align: start;
  }
  
  .slide img {
    width: 20%;
    height: auto;
  }
  